@media (max-width:999px) {
    .banner-bg {
        padding-top: 45%;
        margin-top: -36%;
    }

    .globle-banners {
        padding-top: 50%;
        margin-top: -35%;
    }

    .globle-banners1 {
        padding-top: 50%;
        margin-top: -35%;
    }

    .globle-banners2 {
        padding-top: 50%;
        margin-top: -35%;
    }

    .globle-banners3 {
        padding-top: 50%;
        margin-top: -35%;
    }

    .ms-3 {
        margin-left: 0 !important;
    }

    .quick-links ul li {
        font-size: 12px;
    }

    .arrow-1 {
        left: 54%;
        /* margin-bottom: 1rem; */
    }

    .arrow-1 {
        left: 45%;
    }

    .pause-btn {
        width: 50%;
    }

    .middle-sections {
        margin-top: -11rem;
    }
    .card-truck{
        margin-bottom: 2rem;
    }
}

@media (max-width:400px) {
    .text-big-slider{
        font-size: 30px !important;
    }
    .book-btn button{
        padding: 12px 0;
        margin-bottom: 1rem;
    }
    .truck-card-btn button {
        font-size: 14px;
        padding: 5px 15px;
    }
    .banner-bg {
        padding-top: 100% !important;
        margin-top: -92%;
    }
    .navbar-brand {
        margin-right: 0;
    }

    .our-services-text {
        padding-top: 8%;
    }

    .our-services-img-inner img {
        width: 70%;
    }

    p {
        font-size: 14px !important;
        color: #929292;
    }

    .border-3-stroke {
        -webkit-text-stroke: 2px #FE3B00 !important;
    }

    .aligment-1 {
        transform: translateY(0);
    }

    .aligment-2 {
        transform: translateY(0);
    }

    .globle-banners {
        padding-top: 99% !important;
        margin-top: -95% !important;
    }

    .globle-banners1 {
        padding-top: 100% !important;
        margin-top: -95% !important;
    }

    .globle-banners2 {
        padding-top: 100% !important;
        margin-top: -95% !important;
    }

    .globle-banners3 {
        padding-top: 100% !important;
        margin-top: -95% !important;
    }


    .text-big {
        font-size: 60px;
    }

    .middle-aligment {
        transform: translateY(0);
    }

    .cnter-mobile {
        display: flex;
        justify-content: center;
    }

    .cnter-mobile img {
        width: 50%;
    }


    .banner-bg {
        padding-top: 45%;
    }

    .middle-sections {
        margin-top: -4rem;
    }

    .custom-line-height {
        line-height: 30px;
    }

    .larger-text {
        font-size: 63px;
    }

    .out-line-text {
        -webkit-text-stroke: 1px #FE3B00 !important;
    }

    .large-text2 {
        font-size: 38px;
    }

    .large-text1 {
        font-size: 45px;
    }

    .message-icon {
        top: 35%;
    }

    input::placeholder {
        font-size: 14px !important;
    }

    input {
        font-size: 14px !important;
    }

    .login-btn button {
        padding: .5rem 2rem;
    }

    .or-text::before {
        width: 80px;
    }

    .or-text::after {
        width: 80px;
    }

    .message-icon1 {
        top: 35%;
    }
}